<!DOCTYPE html>
<html>
  <head>
    <title>Weather Information</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="error">
      <div class="error-container">
        <h1>Unfortunately, it appears that an error has occurred.</h1>
        <h2>It seems that we were unable to locate a city with the specified name: <%= city %></h2>
        <h3>Please verify that the city name you entered is spelled correctly.</h3>
      </div>
    </div>
  </body>
</
